@use '@angular/material' as mat;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 10px;
}

.close-button {
  position: absolute;
  top: 5px;
  left: 5px;

  mat-icon {
    color: var(--mat-sys-contrast);
  }
}

.movie-poster {
  margin-top: 20px;
  max-height: 400px;
}

.movie-title {
  font: var(--mat-sys-title-large);
  text-wrap: balance;
  text-align: center;
  margin: 0px;
}

.movie-overview {
  font: var(--mat-sys-body-medium);
}

.chip-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  @include mat.chips-overrides((
      container-shape-radius: 4px,
      container-height: 26px
  ));
}