mat-sidenav-container {
  height: calc(100% - 50px);
}

mat-sidenav {
  transition: all 400ms ease-in-out;
  background-color: var(--mat-sys-surface-container);
  overflow: hidden;

  a {
    border-radius: 0px;
    background-color: var(--mat-sys-surface-container);

    &.active {
      box-shadow: inset 4px 0 0 0 var(--mat-sys-primary);
      background-color: var(--mat-sys-surface-container);

      * {
        color: var(--mat-sys-primary)
      }
    }
  }
}

mat-sidenav-content {
  transition: all 400ms ease-in-out;
  background-color: var(--mat-sys-background) !important;
  padding: 20px;
}

mat-nav-list {
  padding: 0px;
}

.search-area {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 48px;
  width: 100%;
  overflow: hidden;

  .search-button {
    margin-left: 8px;
  }

  .search-button:disabled {
    opacity: 1;
    color: inherit;
  }

  input {
    height: 18px;
    width: 150px;
    padding: 6px;
    border: 0px;
    box-shadow: inset 0 0 0 1px var(--mat-sys-outline);
    background-color: var(--mat-sys-surface-container);

    &:focus {
      outline: 2px solid var(--mat-sys-primary) !important;
    }

    &:hover {
      outline: 1px solid var(--mat-sys-primary)
    }
  }

  .pin-button {
    position: absolute;
    right: 0;

    &.pinned {
      mat-icon {
        color: var(--mat-sys-contrast);
      }
    }
  }
}