
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
  box-sizing: border-box;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: light dark;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
  height: 100%;
}

:root {
  --mat-sys-contrast: oklch(0.76 0.16 56);

  @include mat.button-overrides((
    filled-container-shape: 4px
  ));

  @include mat.fab-overrides((
    container-shape: 4px
  ));

  @include mat.sidenav-overrides((
    container-shape: 0px
  ));

  @include mat.list-overrides((
    list-item-container-shape: 0px,
    active-indicator-shape: 0px
  ));

  @include mat.form-field-overrides((
    filled-container-shape: 4px
  ))
}