@if (moviesQueryResource().isLoading()) {
<div class="loading-container">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
}

@else if (moviesQueryResource().error()) {
<div>error loading data..</div>
}

@else if (moviesQueryResource().value() && query() && !moviesQueryResource().value()?.length) {
<div>no results!</div>
}

@else {
<mat-nav-list>
  @for (movie of moviesQueryResource().value(); track movie.id) {
  <a mat-list-item (click)="navigate.emit(movie.id)">
    @if (movie.poster_path) {
    <img matListItemAvatar [src]="`https://image.tmdb.org/t/p/original${movie.poster_path}`">
    } @else {
    <mat-icon matListItemIcon>block</mat-icon>
    }
    <div matListItemTitle> {{ movie.title }} </div>
  </a>
  <mat-divider></mat-divider>
  }
</mat-nav-list>
}